*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
@font-face {
    font-family: "Ubuntu";
    src: url(Ubuntu/Ubuntu-Regular.ttf);
}
body{
    background-color: #EEE;
    width: 100%;
    min-height: 100%;
    text-align: center;
    padding: 5%;
    font-family: "Ubuntu";
}
h1{
    font-size: 48px;
    margin: 2%;
    margin-bottom: 5%;
}
p{
    margin-bottom: 5%;
}
.block{
    transition: 0.5s;
    background-color: #FFF;
    border-radius: 2%;
    height: 400px;
    width: 400px;
    padding: 5%;
    margin: 2% 3% 2% 3%;
    border: 1px solid rgba(100, 100, 100, 0.5);
    text-align: left;
    h2{
        font-size: 24px;
    }
    ul{
        margin-top: 10%;
        margin-left: 2%;
        li{
            margin-top: 5%;
        }
    }
}
body div{
    display: inline-block;
}
.title{
    width: 400px;
    vertical-align: top;
    text-align: right;
}
.main{
    width: 40%;
}
.block:hover{
    border: 1px solid rgba(0, 0, 0, 1);
    transition: 0.5s;
}
a{
    color: black;
    text-decoration: underline;
}
@media (orientation: portrait){
    body{
        text-align: center;
    }
    body div{
        display: block;
    }
    .title{
    text-align: center;
    width: auto;
    }
    .main{
        width: auto;
        margin-top: 5%;
    }
    .block{
        width: auto;
    }
}